{% extends 'template.html' %}
{% load static %}

{% block title %}
    HRMIS | Administrator
{% endblock %}

{% block sidebar %}

<!-- BEGIN #sidebar -->
<div id="sidebar" class="app-sidebar">
    <!-- BEGIN scrollbar -->
    <div class="app-sidebar-content" data-scrollbar="true" data-height="100%">
        <!-- BEGIN menu -->
        <div class="menu">
            <div class="menu-profile">
                <a href="javascript:;" class="menu-profile-link" data-toggle="app-sidebar-profile" data-target="#appSidebarProfileMenu">
                    <div class="menu-profile-cover with-shadow"></div>
                    <div class="menu-profile-image menu-profile-image-icon bg-gray-900 text-gray-600">
                        <i class="fa fa-user"></i>
                    </div>
                    <div class="menu-profile-info">
                        <div class="d-flex align-items-center">
                            <div class="flex-grow-1">
                                <!-- {{request.user.username}} | {{request.user.email}} -->
                                Administrator
                            </div>
                            <!-- <div class="menu-caret ms-auto"></div> -->
                        </div>
                        <!-- <small>Administrator</small> -->
                    </div>
                </a>
            </div>
            <!-- <div id="appSidebarProfileMenu" class="collapse">
                <div class="menu-item pt-5px">
                    <a href="javascript:;" class="menu-link">
                        <div class="menu-icon"><i class="fa fa-cog"></i></div>
                        <div class="menu-text">Settings</div>
                    </a>
                </div>
                <div class="menu-item">
                    <a href="javascript:;" class="menu-link">
                        <div class="menu-icon"><i class="fa fa-pencil-alt"></i></div>
                        <div class="menu-text"> Send Feedback</div>
                    </a>
                </div>
                <div class="menu-item pb-5px">
                    <a href="javascript:;" class="menu-link">
                        <div class="menu-icon"><i class="fa fa-question-circle"></i></div>
                        <div class="menu-text"> Helps</div>
                    </a>
                </div>
                <div class="menu-divider m-0"></div>
            </div> -->
            <div class="menu-header">Navigation</div>
            <div class="menu-item active">
                <a href="adminhome" class="menu-link">
                    <div class="menu-icon">
                        <i class="fas fa-home fa-fw"></i>
                    </div>
                    <div class="menu-text">Home</div>
                </a>
            </div>
            <!-- <div class="menu-item">
                <a href="profile" class="menu-link">
                    <div class="menu-icon">
                        <i class="fa fa-sitemap"></i>
                    </div>
                    <div class="menu-text">Profile</div>
                </a>
            </div> -->
            <div class="menu-item">
                <a href="logoutUser" class="menu-link">
                    <div class="menu-icon">
                        <i class="fa fa-sign-outc"></i>
                    </div>
                    <div class="menu-text">Logout</div>
                </a>
            </div>
            <!-- <div class="menu-item">
                <a href="index.html" class="menu-link">
                    <div class="menu-icon">
                        <i class="fa fa-sitemap"></i>
                    </div>
                    <div class="menu-text">Education</div>
                </a>
            </div>  
            <div class="menu-item has-sub">
                <a href="javascript:;" class="menu-link">
                    <div class="menu-icon">
                        <i class="fa fa-align-left"></i>
                    </div>
                    <div class="menu-text">Menu Level</div>
                    <div class="menu-caret"></div>
                </a>
                <div class="menu-submenu">
                    <div class="menu-item has-sub">
                        <a href="javascript:;" class="menu-link">
                            <div class="menu-text">Menu 1.1</div>
                            <div class="menu-caret"></div>
                        </a>
                        <div class="menu-submenu">
                            <div class="menu-item has-sub">
                                <a href="javascript:;" class="menu-link">
                                    <div class="menu-text">Menu 2.1</div>
                                    <div class="menu-caret"></div>
                                </a>
                                <div class="menu-submenu">
                                    <div class="menu-item"><a href="javascript:;" class="menu-link"><div class="menu-text">Menu 3.1</div></a></div>
                                    <div class="menu-item"><a href="javascript:;" class="menu-link"><div class="menu-text">Menu 3.2</div></a></div>
                                </div>
                            </div>
                            <div class="menu-item"><a href="javascript:;" class="menu-link"><div class="menu-text">Menu 2.2</div></a></div>
                            <div class="menu-item"><a href="javascript:;" class="menu-link"><div class="menu-text">Menu 2.3</div></a></div>
                        </div>
                    </div>
                    <div class="menu-item"><a href="javascript:;" class="menu-link"><div class="menu-text">Menu 1.2</div></a></div>
                    <div class="menu-item"><a href="javascript:;" class="menu-link"><div class="menu-text">Menu 1.3</div></a></div>
                </div>
            </div> -->
            
            <!-- BEGIN minify-button -->
            <div class="menu-item d-flex">
                <a href="javascript:;" class="app-sidebar-minify-btn ms-auto" data-toggle="app-sidebar-minify"><i class="fa fa-angle-double-left"></i></a>
            </div>
            <!-- END minify-button -->
            
        </div>
        <!-- END menu -->
    </div>
    <!-- END scrollbar -->
</div>
<div class="app-sidebar-bg"></div>
<div class="app-sidebar-mobile-backdrop"><a href="#" data-dismiss="app-sidebar-mobile" class="stretched-link"></a></div>
<!-- END #sidebar -->
{% endblock %}

{% block content %}
    <!-- BEGIN #content -->
    <div id="content" class="app-content">
        <!-- BEGIN panel -->
         <div class="mb-4 text-center">
            <div class="row">
                <div class="col-md-8">
                    <div id="apex-column-chart"></div>
                </div>
                <div class="col-md-4">
                    <div id="apex-pie-chart"></div>
                </div>
            </div>
        </div>
        <div class="panel panel-inverse">
            <div class="panel-heading">
                <h4 class="panel-title">Employee Details</h4>
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse">
                        <i class="fa fa-minus"></i>
                    </a>
                </div>
            </div>
            <div class="panel-body">
                <table id="data-table-buttons" class="table table-striped table-bordered align-middle">
                    <thead>
                        <tr>
            
                            <th>Employee Number</th>
                            <th>Full Name</th>
                            <th>Position Title</th>
                            <th>Office</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for w in work_info %}
                        <tr>
                            <td>{{ w.employee.employeenumber }}</td>
                            <td>{{ w.employee.user.first_name }} {{ w.employee.user.last_name }}</td>
                            <td>{{ w.positiontitle }}</td>
                            <td>{{ w.companyofficeagency }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- END panel -->
    <!-- Employee Modal -->
    <div class="modal fade" id="employeeModal" tabindex="-1" aria-labelledby="employeeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title" id="employeeModalLabel">Employees in Office</h5>
                <div class="ms-auto">
                <button id="downloadCSV" class="btn btn-sm btn-success me-2">
                    <i class="fa fa-file-csv"></i> Download CSV
                </button>
                <button id="printList" class="btn btn-sm btn-primary">
                    <i class="fa fa-print"></i> Print
                </button>
                </div>
                <button type="button" class="btn-close btn-close-white ms-2" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body bg-gray-900 text-white">
                <div id="employeeList" class="table-responsive">Loading...</div>
            </div>
            </div>
        </div>
    </div>
    <!-- Employee Details Modal -->
    <div class="modal fade" id="employeeDetailsModal" tabindex="-1" aria-labelledby="employeeDetailsLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content bg-dark text-white shadow-lg">
                <div class="modal-header border-secondary">
                    <h5 class="modal-title" id="employeeDetailsLabel">
                        <i class="fas fa-id-badge me-2"></i>Employee Full Profile
                    </h5>
                    <div class="d-flex align-items-center gap-2">
                        <button id="printProfile" class="btn btn-sm btn-outline-light">
                            <i class="fas fa-print"></i> Print
                        </button>
                        <button id="downloadCSV" class="btn btn-sm btn-outline-success">
                            <i class="fas fa-file-csv"></i> CSV
                        </button>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
                    </div>
                </div>

                <div class="modal-body">
                    <div id="employeeDetails" class="table-responsive">
                    Loading...
                    </div>
                </div>    
            </div>
        </div>
    </div>
</div>
<!-- END #content -->

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

<script>
document.addEventListener("DOMContentLoaded", function() {
    var offices = [
        {% for item in office_counts %}
            "{{ item.companyofficeagency }}"{% if not forloop.last %},{% endif %}
        {% endfor %}
    ];
    var counts = [
        {% for item in office_counts %}
            {{ item.the_count }}{% if not forloop.last %},{% endif %}
        {% endfor %}
    ];

    let lastFetchedData = null;

    function showEmployees(office) {
        fetch(`/get_employees_by_office/?office=${encodeURIComponent(office)}`)
            .then(response => response.json())
            .then(data => {
                lastFetchedData = data; 
                let listHTML = `<h5 class="mb-3 text-info">${data.office}</h5>`;
                if (data.employees.length > 0) {
                    listHTML += `
                        <table class="table table-dark table-bordered">
                            <thead>
                                <tr>
                                    <th>Employee Number</th>
                                    <th>Name</th>
                                    <th>Position</th>
                                </tr>
                            </thead>
                            <tbody>
                                ${data.employees.map(e => `
                                    <tr>
                                        <td>${e.employee_number}</td>
                                        <td>${e.name}</td>
                                        <td>${e.position}</td>
                                    </tr>
                                `).join('')}
                            </tbody>
                        </table>`;
                } else {
                    listHTML += `<p>No employees found for this office.</p>`;
                }
                document.getElementById("employeeList").innerHTML = listHTML;
                new bootstrap.Modal(document.getElementById('employeeModal')).show();
            });
    }

    // ---------- CSV DOWNLOAD ----------
    document.getElementById("downloadCSV").addEventListener("click", function() {
        if (!lastFetchedData || !lastFetchedData.employees) return;
        let csvContent = "data:text/csv;charset=utf-8,";
        csvContent += "Employee Number,Name,Position\n";
        lastFetchedData.employees.forEach(e => {
            csvContent += `"${e.employee_number}","${e.name}","${e.position}"\n`;
        });
        const encodedUri = encodeURI(csvContent);
        const link = document.createElement("a");
        link.setAttribute("href", encodedUri);
        link.setAttribute("download", `${lastFetchedData.office}_employees.csv`);
        document.body.appendChild(link);
        link.click();
        document.body.removeChild(link);
    });

    // ---------- PRINT LIST ----------
    document.getElementById("printList").addEventListener("click", function() {
        if (!lastFetchedData || !lastFetchedData.employees) return;
        const win = window.open("", "PrintEmployees", "width=800,height=600");
        win.document.write(`
            <html>
                <head>
                    <title>Employees in ${lastFetchedData.office}</title>
                    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
                </head>
                <body class="p-4">
                    <h3 class="text-center mb-4">Employees in ${lastFetchedData.office}</h3>
                    <table class="table table-bordered">
                        <thead><tr><th>Employee Number</th><th>Name</th><th>Position</th></tr></thead>
                        <tbody>
                            ${lastFetchedData.employees.map(e => `
                                <tr>
                                    <td>${e.employee_number}</td>
                                    <td>${e.name}</td>
                                    <td>${e.position}</td>
                                </tr>
                            `).join('')}
                        </tbody>
                    </table>
                </body>
            </html>
        `);
        win.document.close();
        win.print();
    });

    // ---------- Charts ----------
    var pieOptions = {
        chart: {
            height: 420,
            type: 'pie',
            events: {
                dataPointSelection: function(event, chartContext, config) {
                    var office = offices[config.dataPointIndex];
                    showEmployees(office);
                }
            },
            foreColor: '#e5e7eb',
            background: 'transparent'
        },
        plotOptions: { pie: { expandOnClick: true } },
        labels: offices,
        series: counts,
        colors: ['#60A5FA','#34D399','#F59E0B','#A78BFA','#F87171','#FBBF24','#22D3EE','#EC4899']
    };
    new ApexCharts(document.querySelector("#apex-pie-chart"), pieOptions).render();

    var columnOptions = {
        chart: {
            type: 'bar',
            height: 400,
            events: {
                dataPointSelection: function(event, chartContext, config) {
                    var office = offices[config.dataPointIndex];
                    showEmployees(office);
                }
            },
            foreColor: '#e5e7eb',
            background: 'transparent'
        },
        series: [{ name: 'Employees', data: counts }],
        xaxis: { categories: offices },
        colors: ['#60A5FA','#34D399','#F59E0B','#A78BFA','#F87171','#FBBF24','#22D3EE','#EC4899']
    };
    new ApexCharts(document.querySelector("#apex-column-chart"), columnOptions).render();

    // ---------- Table Office Click ----------
    document.querySelectorAll("table tbody tr td:nth-child(4)").forEach(cell => {
        cell.style.cursor = "pointer";
        cell.classList.add("text-info");
        cell.addEventListener("click", () => {
            showEmployees(cell.innerText.trim());
        });
    });

    // ---------- Employee Number Click ----------
    document.querySelectorAll("table tbody tr td:first-child").forEach(cell => {
        cell.style.cursor = "pointer";
        cell.classList.add("text-primary", "fw-bold");

        cell.addEventListener("click", () => {
            const empNo = cell.innerText.trim();

            fetch(`/get_employee_details/?employee_number=${encodeURIComponent(empNo)}`)
                .then(response => response.json())
                .then(data => {
                    let html = `
                        <div class="text-light">
                            <h4 class="text-info mb-3">
                                <i class="fas fa-user-circle me-2"></i>${data.personal.name}
                            </h4>
                            <p><i class="fas fa-id-card me-2"></i><strong>Employee Number:</strong> ${empNo}</p>
                            <p><i class="fas fa-envelope me-2"></i><strong>Email:</strong> ${data.personal.email}</p>
                            <p><i class="fas fa-venus-mars me-2"></i><strong>Sex:</strong> ${data.personal.sex}</p>
                            <p><i class="fas fa-heart me-2"></i><strong>Status:</strong> ${data.personal.civilstatus}</p>
                            <p><i class="fas fa-birthday-cake me-2"></i><strong>Date of Birth:</strong> ${data.personal.dob}</p>
                            <p><i class="fas fa-flag me-2"></i><strong>Citizenship:</strong> ${data.personal.citizenship}</p>

                            <hr class="border-secondary">
                            <h5><i class="fas fa-graduation-cap me-2"></i>Education</h5>
                            <p>${data.education.degree || 'N/A'} at ${data.education.school || 'N/A'}</p>

                            <hr class="border-secondary">
                            <h5><i class="fas fa-users me-2"></i>Family</h5>
                            <p><strong>Spouse:</strong> ${data.family.spouse || 'N/A'}</p>
                            <p><strong>Children:</strong> ${data.family.children || 'N/A'}</p>

                            <hr class="border-secondary">
                            <h5><i class="fas fa-briefcase me-2"></i>Work Experience</h5>
                            ${data.work.length ? `
                                <table class="table table-sm table-striped table-dark align-middle">
                                    <thead>
                                        <tr>
                                            <th><i class="fas fa-briefcase me-1"></i>Position</th>
                                            <th><i class="fas fa-building me-1"></i>Office</th>
                                            <th><i class="fas fa-calendar-alt me-1"></i>From</th>
                                            <th><i class="fas fa-calendar-check me-1"></i>To</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        ${data.work.map(w => `
                                            <tr>
                                                <td>${w.position}</td>
                                                <td>${w.office}</td>
                                                <td>${w.from}</td>
                                                <td>${w.to}</td>
                                            </tr>
                                        `).join("")}
                                    </tbody>
                                </table>
                            ` : '<p>No work history available.</p>'}

                            <hr class="border-secondary">
                            <h5><i class="fas fa-chalkboard-teacher me-2"></i>Learning & Development</h5>
                            <p>${data.learning.title || 'N/A'} (${data.learning.hours || '0'} hrs)</p>

                            <hr class="border-secondary">
                            <h5><i class="fas fa-award me-2"></i>Other Information</h5>
                            <p><strong><i class="fas fa-lightbulb me-2"></i>Skills:</strong> ${data.other.skills || 'N/A'}</p>
                            <p><strong><i class="fas fa-trophy me-2"></i>Recognitions:</strong> ${data.other.recognitions || 'N/A'}</p>
                        </div>
                    `;

                    document.getElementById("employeeDetails").innerHTML = html;
                    new bootstrap.Modal(document.getElementById('employeeDetailsModal')).show();
                });
        });
    });

    // ---------- PRINT & CSV BUTTONS ----------
    document.getElementById("printProfile").addEventListener("click", () => {
        const content = document.getElementById("employeeDetails").innerHTML;
        const popup = window.open("", "", "width=1000,height=700");
        popup.document.write(`
            <html>
            <head>
                <title>Employee Profile</title>
                <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
            </head>
            <body class="bg-dark text-white p-4">
                <h3 class="mb-4"><i class="fas fa-id-badge me-2"></i>Employee Full Profile</h3>
                ${content}
            </body>
            </html>
        `);
        popup.document.close();
        popup.focus();
        popup.print();
    });

    document.getElementById("downloadCSV").addEventListener("click", () => {
        const table = document.querySelector("#employeeDetails table");
        if (!table) {
            alert("No table data available.");
            return;
        }

        let csv = [];
        const rows = table.querySelectorAll("tr");
        for (let row of rows) {
            const cols = row.querySelectorAll("th, td");
            let rowData = [];
            cols.forEach(col => rowData.push('"' + col.innerText.replace(/"/g, '""') + '"'));
            csv.push(rowData.join(","));
        }

        const blob = new Blob([csv.join("\n")], { type: "text/csv" });
        const link = document.createElement("a");
        link.href = URL.createObjectURL(blob);
        link.download = "employee_profile.csv";
        link.click();
    });
});
</script>
{% endblock %}

{% endblock %}