{% extends 'template.html' %}
{% load static %}

{% block title %}
HRMIS | Learning and Development
{% endblock %}

{% block sidebar %}
{% endblock %}

{% block content %}
<!-- BEGIN #content -->
<div id="content" class="app-content">
    <form method="POST" class="fs-13px" name="signup" onsubmit="return checkpassword()" enctype="multipart/form-data">
        {% csrf_token %}
        <!-- BEGIN breadcrumb -->
        <!-- <ol class="breadcrumb float-xl-end">
            <li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
            <li class="breadcrumb-item"><a href="javascript:;">Library</a></li>
            <li class="breadcrumb-item active">Data</li>
        </ol> -->
        <!-- END breadcrumb -->
        <!-- BEGIN page-header -->
        <h1 class="page-header">Learning and Development</h1>
        <!-- END page-header -->

        <!-- BEGIN panel -->
        <div class="panel panel-inverse">
            <div class="panel-heading">
                <h4 class="panel-title">Learning and Development Details</h4>
                <div class="panel-heading-btn">
                    <!-- <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a> -->
                    <!-- <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a> -->
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i
                            class="fa fa-minus"></i></a>
                    <!-- <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a> -->
                </div>
            </div>
            <div class="panel-body">
                <div class="mb-3">
                    <label class="form-label">Title of Learning</label>
                    <input class="form-control" type="text" id="tol" name="titleoflearning" placeholder="Title of Learning"
                        value="{{employee.titleoflearning}}" />
                </div>
                <div class="mb-3">
                    <label class="form-label">Date From</label>
                    <input class="form-control" type="date" id="dfm" name="datefrom" placeholder="Date From"
                       value="{{employee.datefrom|date:'Y-m-d'}}" />
                </div>
                <div class="mb-3">
                    <label class="form-label">Date To</label>
                    <input type="date" class="form-control" id="dto" name="dateto" placeholder="Date To"
                        value="{{employee.dateto|date:'Y-m-d'}}" />
                </div>
             
                 <div class="mb-3">
                    <label class="form-label">Number of Hours</label>
                    <input type="text" class="form-control" id="nohs" name="numberofhours" placeholder="Number of Hours"
                        value="{{employee.numberofhours}}" />
                </div>
                  <div class="mb-3">
                    <label class="form-label">Type of ID</label>
                    <input type="text" class="form-control" id="toi" name="typeofid" placeholder="Type of ID"
                        value="{{employee.typeofid}}" />
                </div>
                 <div class="mb-3">
                    <label class="form-label">Conducted</label>
                    <input type="text" class="form-control" id="cd" name="conducted" placeholder="Conducted"
                        value="{{employee.conducted}}" />
                </div>
            </div>
        </div>

        <!-- END panel -->

    <div class="text-start mt-3">
        <button type="submit" class="btn btn-dark px-4">Save</button>
    </div>  

    </form>
</div>
<!-- END #content -->
<!-- <script type="text/javascript">
    function getdates()
    {
        var date = new Date();
        document.getElementById("dob").innerHTML = date;
    }
</script> -->
<!-- BEGIN Error Message -->
{% if error == "no" %}
<script>
    alert('Learning and Development Updated Successfully');
    window.location = ("learninganddevelopment");
</script>
{% endif %}
{% if error == "yes" %}
<script>
    alert('Something went wrong, try again.');
</script>
{% endif %}
<!-- END Error Message -->

{% endblock %}