{% extends 'template.html' %}
{% load static %}

{% block title %}
HRMIS | Learning and Development
{% endblock %}

{% block content %}
<div id="content" class="app-content">
    <form method="POST" class="fs-13px" name="signup" onsubmit="return checkpassword()" enctype="multipart/form-data">
        {% csrf_token %}
        
        <h1 class="page-header"><i class="fas fa-chalkboard-teacher me-2"></i>Learning and Development</h1>
        <div class="panel panel-inverse">
            <div class="panel-heading">
                <h4 class="panel-title"><i class="fas fa-book-open me-2"></i>Training/Seminar Details</h4>
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i
                            class="fa fa-minus"></i></a>
                </div>
            </div>
            <div class="panel-body">
                
                <div class="mb-3">
                    <label class="form-label">Title of Learning/Training Program</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-scroll"></i></span>
                        <input class="form-control" type="text" id="tol" name="titleoflearning" placeholder="Title of Learning and Development Intervention"
                            value="{{employee.titleoflearning}}" />
                    </div>
                </div>
                
                <div class="mb-3">
                    <label class="form-label">Date From</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
                        <input class="form-control" type="date" id="dfm" name="datefrom" placeholder="Date From"
                           value="{{employee.datefrom|date:'Y-m-d'}}" />
                    </div>
                </div>
                
                <div class="mb-3">
                    <label class="form-label">Date To</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
                        <input type="date" class="form-control" id="dto" name="dateto" placeholder="Date To"
                            value="{{employee.dateto|date:'Y-m-d'}}" />
                    </div>
                </div>
              
                <div class="mb-3">
                    <label class="form-label">Number of Hours</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-clock"></i></span>
                        <input type="text" class="form-control" id="nohs" name="numberofhours" placeholder="Number of Hours"
                            value="{{employee.numberofhours}}" />
                    </div>
                </div>
                
                <div class="mb-3">
                    <label class="form-label">Type of ID (Type of Learning/Development)</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-tags"></i></span>
                        <input type="text" class="form-control" id="toi" name="typeofid" placeholder="Type of Learning/Development"
                            value="{{employee.typeofid}}" />
                    </div>
                </div>
                
                <div class="mb-3">
                    <label class="form-label">Conducted/Sponsored By</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-building-user"></i></span>
                        <input type="text" class="form-control" id="cd" name="conducted" placeholder="Conducted/Sponsored By"
                            value="{{employee.conducted}}" />
                    </div>
                </div>
                
            </div>
        </div>

        <div class="text-end mt-3">
        <button type="submit" class="btn btn-dark px-4"><i class="fas fa-save me-2"></i>Save</button>
    </div>  

    </form>
</div>
{% if error == "no" %}
<script>
    alert('Learning and Development Updated Successfully');
    window.location = ("learninganddevelopment");
</script>
{% endif %}
{% if error == "yes" %}
<script>
    alert('Something went wrong, try again.');
</script>
{% endif %}
{% endblock %}