{% extends 'template.html' %}
{% load static %}

{% block title %}
HRMIS | Voluntary Work
{% endblock %}

{% block content %}
<div id="content" class="app-content">
    <form method="POST" class="fs-13px" name="signup" onsubmit="return checkpassword()" enctype="multipart/form-data">
        {% csrf_token %}
        
        <h1 class="page-header"><i class="fas fa-hand-holding-heart me-2"></i>Voluntary Work</h1>
        <div class="panel panel-inverse">
            <div class="panel-heading">
                <h4 class="panel-title"><i class="fas fa-hands-helping me-2"></i>Voluntary Work Details</h4>
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i
                            class="fa fa-minus"></i></a>
                </div>
            </div>
            <div class="panel-body">
                
                <div class="mb-3">
                    <label class="form-label">Organization</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-users-cog"></i></span>
                        <input class="form-control" type="text" id="en" name="organization" placeholder="Organization Name"
                            value="{{employee.organization}}" />
                    </div>
                </div>
                
                <div class="mb-3">
                    <label class="form-label">Date From</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-calendar-check"></i></span>
                        <input class="form-control" type="date" id="df" name="datefrom" placeholder="Date From"
                           value="{{employee.datefrom|date:'Y-m-d'}}" />
                    </div>
                </div>
                
                <div class="mb-3">
                    <label class="form-label">Date To</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-calendar-times"></i></span>
                        <input type="date" class="form-control" id="dt" name="dateto" placeholder="Date To"
                            value="{{employee.dateto|date:'Y-m-d'}}" />
                    </div>
                </div>
              
                <div class="mb-3">
                    <label class="form-label">Number of Hours</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-hourglass-half"></i></span>
                        <input type="text" class="form-control" id="noh" name="numberofhours" placeholder="Number of Hours Rendered"
                            value="{{employee.numberofhours}}" />
                    </div>
                </div>
                
                <div class="mb-3">
                    <label class="form-label">Position / Nature of Work</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-user-tag"></i></span>
                        <input type="text" class="form-control" id="pn" name="position" placeholder="Position / Nature of Work"
                            value="{{employee.position}}" />
                    </div>
                </div>
                
            </div>
        </div>

        <div class="text-end mt-3">
        <button type="submit" class="btn btn-dark px-4"><i class="fas fa-save me-2"></i>Save</button>
    </div>  

    </form>
</div>
{% if error == "no" %}
<script>
    alert('Voluntary Work Updated Successfully');
    window.location = ("voluntarywork");
</script>
{% endif %}
{% if error == "yes" %}
<script>
    alert('Something went wrong, try again.');
</script>
{% endif %}
{% endblock %}